{% extends 'base.html.twig' %}

{% block title %}Wellcome to IISOR WEB{% endblock %}

{% block body %}
    <style>
     .iisor-top-contents {
         margin: 1em auto;
         max-width: 800px;
         width: 95%;
         font: 18px/1.5 sans-serif;
     }
     .iisor-top-contents h1 {
         font-size: 128px;
         font-weight: 800;
         margin-top: 20px;
         margin-bottom: 20px;
     }
     .iisor-top-contents .row {
         margin: 50px 20px;
         text-align: center;
     }
     .iisor-top-contents .row .col-4 {
         text-align: center;
     }
     .iisor-top-contents .iisor-top-contents-moji {
         font-size: 90px;
         font-weight: 700;
         font-style: italic;
         color: #595757;
     }
     .iisor-top-contents img {
         width: 100%;
         margin: 20px 20px;
     }
    </style>
    <div class="iisor-top-contents">
        <h1>
            <img src="public/image/iisor-web-logo.svg" />
        </h1>

        <div class="row iisor-top-kiban">
            <div class="col-4">
                <a href="">
                    <div class="iisor-top-contents-moji">Main</div>
                    <p>メイン基盤</p>
                </a>
            </div>
            <div class="col-4">
                <a href="">
                    <div class="iisor-top-contents-moji">Sub</div>
                    <p>サブ基盤</p>
                </a>
            </div>
            <div class="col-4">
                <a href="">
                    <div class="iisor-top-contents-moji">WL</div>
                    <p>ワイヤレス基盤</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a href="">
                    <img src="public/image/en.svg" />
                    <p>料金が知りたい</p>
                </a>
            </div>
            <div class="col-4">
                <a href="">
                    <img src="public/image/kago.svg" />
                    <p>納期が知りたい</p>
                </a>
            </div>
            <div class="col-4">
                <a href="">
                    <img src="public/image/man.svg" />
                    <p>お問い合わせ</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
